{% extends "P4BilletterieBundle::layout.html.twig" %}
{% block title %}
  {{ parent() }} – Récapitulatif
{% endblock %}

{% block body %}

{# {{ form(form) }} #}
<div class="recapDiv1">
	<h2>{{ 'recap.titre'|trans }}</h2>
	<ul>
		{% set i = 0 %}
		{% for visitor in listVisitors %}
			<div class="recapDiv2">
				{% set i = i + 1 %}
				<li><strong class="visiteur">{{ 'recap.visiteur'|trans }} {{ i }}</strong></li>
				<li>
					<span class="recap">{{ 'recap.nom'|trans }} </span>{{ visitor.name }}
				</li>
				<li>
					<span class="recap">{{ 'recap.prenom'|trans }} </span>{{ visitor.lastname }}
				</li>
				<li>
					<span class="recap">{{ 'recap.date.naissance'|trans }} </span>{{ visitor.dateBirth|date('d/m/Y') }}
				</li>
				<li>
					<span class="recap">{{ 'recap.age'|trans }} </span>{{ visitor.age }} ans
				</li>			
				<li>
					<span class="recap">{{ 'recap.pays'|trans }} </span>{{ visitor.country }}
				</li>
				<li>
					<span class="recap">{{ 'recap.reduit'|trans }} </span>
					{% if visitor.discount == 0 %} Non
					{% elseif visitor.discount == 1 %} Oui
					{% endif %}
				</li>
				<li>
					<span class="recap">{{ 'recap.prix'|trans }} </span>{{ visitor.prix }}€
				</li><br>
			</div>
		{% endfor %}
	</ul>

	<div>
		<span class="recap">{{ 'recap.email'|trans }} </span>
		{{ email }}
		<br>

		<span class="recap">{{ 'recap.billet'|trans }}</span>
		{% if "now"|date('d/m/Y') == bookingDate and "now"|date('H:i') > "14:00"|date('H:i') %}
			{{ 'recap.billet.demi.journee'|trans }}
		{% else %}
			{% if ticket == 0 %} {{ 'recap.billet.demi.journee'|trans }}
			{% elseif ticket == 1 %} {{ 'recap.billet.journee'|trans }}
			{% endif %}
		{% endif %}

		<br>

		<span class="recap">{{ 'recap.date.resa'|trans }} </span>{{ bookingDate }}
		<br><br>


		<span>{{ 'recap.prix.total'|trans }}</span><br>
		<strong id="prixTotal">{{ prixTotal }}€</strong>
	</div>
	<br>

	<form action="{{ path('p4_billetterie_checkout') }}" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_gaLRT0n5g9E2dzNRsxN7sDge"
	    data-amount="{{ prixTotal * 100 }}"
	    data-email="{{ email }}"
	    data-name="Paiement"
	    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	    data-locale="auto"
	    data-currency="eur">
	  </script>
	</form>	
</div>




{# JAVASCRIPT #}
{% javascripts filter='jsqueeze' 
'bundles/p4billetterie/js/jquery.js'
'bundles/p4billetterie/js/bootstrap.min.js'
 %}
 	<script type="text/javascript" src="{{ asset_url }}" /></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script type="text/javascript">


	/////// DOM OK ///////
	$(function() {
		var $boutonPayer = $('.stripe-button-el');
		$boutonPayer.text('{{ 'recap.bouton.valider'|trans }}').attr('class', 'btn btn-primary');
	});

	</script>

{% endjavascripts %}
{% endblock %}

