{% extends "P4BilletterieBundle::layout.html.twig" %}
{% block title %}
  {{ parent() }} – Récapitulatif
{% endblock %}

{% block body %}

{# {{ form(form) }} #}
<div class="recapDiv1">
	<h2>Voici le récapitulatif de vos informations</h2>
	<ul>
		{% set i = 0 %}
		{% for visitor in listVisitors %}
			<div class="recapDiv2">
				{% set i = i + 1 %}
				<li><strong class="visiteur">Visiteur {{ i }}</strong></li>
				<li>
					<span class="recap">Nom : </span>{{ visitor.name }}
				</li>
				<li>
					<span class="recap">Prénom : </span>{{ visitor.lastname }}
				</li>
				<li>
					<span class="recap">Date de naissance : </span>{{ visitor.dateBirth|date('d/m/Y') }}
				</li>
				<li>
					<span class="recap">Age : </span>{{ visitor.age }} ans
				</li>			
				<li>
					<span class="recap">Pays : </span>{{ visitor.country }}
				</li>
				<li>
					<span class="recap">Tarif préférentiel : </span>
					{% if visitor.discount == 0 %} Non
					{% elseif visitor.discount == 1 %} Oui
					{% endif %}
				</li>
				<li>
					<span class="recap">Prix : </span>{{ visitor.prix }}€
				</li><br>
			</div>
		{% endfor %}
	</ul>

	<div>
		<span class="recap">Mail de contact : </span>
		{{ email }}
		<br>

{# 		<span class="recap">Type de ticket :</span>
		{% if ticket == 0 %} Demi-journée
		{% elseif ticket == 1 %} Journée
		{% endif %} #}

		<span class="recap">Type de ticket :</span>
		{% if "now"|date('d/m/Y') == bookingDate and "now"|date('H:i') > "14:00"|date('H:i') %}
			Demi-journée
		{% else %}
			{% if ticket == 0 %} Demi-journée
			{% elseif ticket == 1 %} Journée
			{% endif %}
		{% endif %}

		<br>

		<span class="recap">Date choisie : </span>{{ bookingDate }}
		<br><br>


		<span>Prix total de votre commande</span><br>
		<strong id="prixTotal">{{ prixTotal }}€</strong>
	</div>
	<br>

	<form action="{{ path('p4_billetterie_checkout') }}" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_gaLRT0n5g9E2dzNRsxN7sDge"
	    data-amount="{{ prixTotal * 100 }}"
	    data-email="{{ email }}"
	    data-name="Paiement"
	    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	    data-locale="auto"
	    data-currency="eur">
	  </script>
	</form>	
</div>




{# JAVASCRIPT #}
{% javascripts filter='jsqueeze' 
'bundles/p4billetterie/js/jquery.js'
'bundles/p4billetterie/js/bootstrap.min.js'
 %}
 	<script type="text/javascript" src="{{ asset_url }}" /></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script type="text/javascript">


	/////// DOM OK ///////
	$(function() {
		var $boutonPayer = $('.stripe-button-el');
		$boutonPayer.text('Valider et payer par carte bancaire').attr('class', 'btn btn-primary');
	});

	</script>

{% endjavascripts %}
{% endblock %}

